<p>Connection: <%= connection.connection %> (<%= connection.provider %>) <%= connection.testnet ? 'TESTNET' : ''%></p>
<p>Smart contract: <a href="<%= contractLink%>" target="_blank"><%= contractAddr %></a></p>
