<div class="box-container" style="padding-top: 20px;">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#fees" aria-controls="fees" role="tab" data-toggle="tab"><%= translation.fees %></a></li>
    <li role="presentation"><a href="#connect-ethereum" aria-controls="connect-ethereum" role="tab" data-toggle="tab"><%= translation.connect_ethereum %></a></li>
    <li role="presentation"><a href="#deposit-withdraw" aria-controls="deposit-withdraw" role="tab" data-toggle="tab"><%= translation.deposit_withdraw %></a></li>
    <li role="presentation"><a href="#trade" aria-controls="trade" role="tab" data-toggle="tab"><%= translation.trade %></a></li>
  </ul>
  <div class="tab-content list-spacing padding">
    <div role="tabpanel" class="tab-pane active" id="fees">
      <h3><%= translation.fees %></h3>
      <table class="table">
        <tr>
          <th><%= translation.transaction %></th>
          <th><%= translation.fee %></th>
        </tr>
        <tr>
          <td><%= translation.deposit %></td>
          <td>0.0%</td>
        </tr>
        <tr>
          <td><%= translation.withdraw %></td>
          <td>0.0%</td>
        </tr>
        <tr>
          <td><%= translation.maker %></td>
          <td>0.0%</td>
        </tr>
        <tr>
          <td><%= translation.taker %></td>
          <td>0.3%</td>
        </tr>
      </table>
      <h4><%= translation.maker_vs_taker %></h4>
      <p>
        <%= translation.only_fee_taker %>
      </p>
      <p>
        <%= translation.maker_fee_desc %>
      </p>
      <p>
        <%= translation.taker_fee_desc %>
      </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="connect-ethereum">
      <h3><%= translation.connect_ethereum %></h3>
      <p><%= translation.three_ways_connect %></p>
      <ol>
        <li><%= translation.connect_metamask %></li>
        <li><%= translation.connect_mist %></li>
        <li><%= translation.connect_etherscan %></li>
      </ol>
    </div>
    <div role="tabpanel" class="tab-pane" id="deposit-withdraw">
      <h3><%= translation.deposit_withdraw %></h3>
      <ol>
        <li><%= translation.deposit_withdraw_1 %></li>
        <li><%= translation.deposit_withdraw_2 %></li>
        <li><%= translation.deposit_withdraw_3 %></li>
        <li><%= translation.deposit_withdraw_4 %></li>
        <li><%= translation.deposit_withdraw_5 %></li>
        <li><%= translation.deposit_withdraw_6 %></li>
        <li><%= translation.deposit_withdraw_7 %></li>
      </ol>
    </div>
    <div role="tabpanel" class="tab-pane" id="trade">
      <h3><%= translation.trade %></h3>
      <ol>
        <li><%= translation.trade_1 %></li>
        <li><%= translation.trade_2 %></li>
        <li><%= translation.trade_3 %></li>
        <li><%= translation.trade_4 %></li>
        <li><%= translation.trade_5 %></li>
        <li><%= translation.trade_6 %></li>
        <li><%= translation.trade_7 %></li>
        <li><%= translation.trade_8 %></li>
        <li><%= translation.trade_9 %></li>
      </ol>
    </div>
    <p><%= translation.need_help %> <a href="https://gitter.im/etherdelta/etherdelta.github.io" target="_blank"><img src="https://badges.gitter.im/etherdelta/etherdelta.github.io.svg" alt="<%= translation.chat_gitter %>" /></a></p>
  </div>
</div>
