<div class="box-container">
  <div class="row">
    <div class="col-xs-4">
      <h3>Offers</h3>
      <div class="scroll-container" style="height: 300px;">
        <table class="table">
          <thead>
            <tr>
              <th><%= selectedToken.name+'/'+selectedBase.name %></th>
              <th><%= selectedToken.name %></th>
              <th><%= selectedBase.name %></th>
              <th>Buy</th>
            </tr>
          </thead>
          <tbody>
            <% sellOrders.forEach(function(order){ %>
            <tr>
              <td>
                <a data-placement="top" data-popover-content="#tooltip_<%= order.order.user+order.order.nonce %>" data-toggle="popover" data-trigger="focus" tabindex="0" style="<%= selectedAddr.toLowerCase()==order.order.user.toLowerCase() ? 'background: #9ff' : '' %>"><%= order.price.toNumber().toFixed(5) %></a>
                <div class="hidden" id="tooltip_<%= order.order.user+order.order.nonce %>">
                  <div class="popover-heading">
                    Order details
                  </div>
                  <div class="popover-body">
                    <ul class="list-group">
                      <li class="list-group-item"><% if (Number(order.order.expires) > blockNumber){ %>Expires in <%= (Number(order.order.expires) - blockNumber) %> <%= Number(order.order.expires) - blockNumber==1 ? 'block' : 'blocks' %><% } else { %>Expired<% } %></li>
                      <% if (selectedAddr.toLowerCase()==order.order.user.toLowerCase() && order.workingOrder && order.workingOrder.refresh) { %>
                        <li class="list-group-item">
                          This order will refresh when it expires unless you press <button type="button" class="btn btn-primary btn-xs" style="width:50px;" onclick="bundle.Main.cancelOrderRefresh(<%= order.order.nonce %>);">Stop</button> or refresh/close the page.
                        </li>
                      <% } %>
                      <% if (selectedAddr.toLowerCase()==order.order.user.toLowerCase()) { %>
                        <li class="list-group-item">
                          You can <button type="button" class="btn btn-primary btn-xs" style="width:50px;" onclick="bundle.Main.cancelOrder('<%= encodeURIComponent(JSON.stringify(order.order)) %>');">Cancel</button> this order with a blockchain transaction.
                        </li>
                      <% } %>
                    </ul>
                  </div>
                </div>
              </td>
              <td><%= bundle.utility.weiToEth(Math.abs(order.availableVolume), bundle.Main.getDivisor(selectedToken)) %></td>
              <td><%= bundle.utility.weiToEth(Math.abs(order.availableVolume) * order.price.toNumber() * bundle.Main.getDivisor(selectedBase)/bundle.Main.getDivisor(selectedToken), bundle.Main.getDivisor(selectedBase)) %></td>
              <td>
                <button type="button" class="btn btn-success btn-xs" style="width:35px;" data-toggle="modal" data-target="#buy_cross_modal" data-order='<%= JSON.stringify(order) %>' data-desc='Sell order: <br /><%= bundle.utility.weiToEth(Math.abs(order.availableVolume), bundle.Main.getDivisor(selectedToken)) %> <%= selectedToken.name %> @ <%= order.price.toNumber().toFixed(5) %> <%= selectedToken.name+'/'+selectedBase.name %>' data-amount='<%= bundle.utility.weiToEth(Math.abs(order.availableVolume), bundle.Main.getDivisor(selectedToken)) %>'>Buy</button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-4">
      <h3>Trades</h3>
      <div class="scroll-container" style="height: 300px;">
        <table class="table">
          <thead>
            <tr>
              <th><%= selectedToken.name+'/'+selectedBase.name %></th>
              <th><%= selectedToken.name %></th>
              <th><%= selectedBase.name %></th>
            </tr>
          </thead>
          <tbody>
            <% trades.forEach(function(trade){ %>
              <tr>
                <td><%= trade.price.toNumber().toFixed(5) %> <a href="<%= trade.txLink %>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                <td><span class="label <%= trade.amount>0 ? 'label-success' : 'label-danger' %>"><%= bundle.utility.weiToEth(Math.abs(trade.amount), bundle.Main.getDivisor(selectedToken)) %></span></td>
                <td><%= bundle.utility.weiToEth(Math.abs(trade.amount)*trade.price * bundle.Main.getDivisor(selectedBase)/bundle.Main.getDivisor(selectedToken), bundle.Main.getDivisor(selectedBase)) %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-4">
      <h3>Bids</h3>
      <div class="scroll-container" style="height: 300px;">
        <table class="table">
          <thead>
            <tr>
              <th><%= selectedToken.name+'/'+selectedBase.name %></th>
              <th><%= selectedToken.name %></th>
              <th><%= selectedBase.name %></th>
              <th>Sell</th>
            </tr>
          </thead>
          <tbody>
            <% buyOrders.forEach(function(order){ %>
            <tr>
              <td>
                <a data-placement="top" data-popover-content="#tooltip_<%= order.order.user+order.order.nonce %>" data-toggle="popover" data-trigger="focus" tabindex="0" style="<%= selectedAddr.toLowerCase()==order.order.user.toLowerCase() ? 'background: #9ff' : '' %>"><%= order.price.toNumber().toFixed(5) %></a>
                <div class="hidden" id="tooltip_<%= order.order.user+order.order.nonce %>">
                  <div class="popover-heading">
                    Order details
                  </div>
                  <div class="popover-body">
                    <ul class="list-group">
                      <li class="list-group-item"><% if (Number(order.order.expires) > blockNumber){ %>Expires in <%= (Number(order.order.expires) - blockNumber) %> <%= Number(order.order.expires) - blockNumber==1 ? 'block' : 'blocks' %><% } else { %>Expired<% } %></li>
                      <% if (selectedAddr.toLowerCase()==order.order.user.toLowerCase() && order.workingOrder && order.workingOrder.refresh) { %>
                        <li class="list-group-item">
                          This order will refresh when it expires unless you press <button type="button" class="btn btn-primary btn-xs" style="width:50px;" onclick="bundle.Main.cancelOrderRefresh(<%= order.order.nonce %>);">Stop</button> or refresh/close the page.
                        </li>
                      <% } %>
                      <% if (selectedAddr.toLowerCase()==order.order.user.toLowerCase()) { %>
                        <li class="list-group-item">
                          You can <button type="button" class="btn btn-primary btn-xs" style="width:50px;" onclick="bundle.Main.cancelOrder('<%= encodeURIComponent(JSON.stringify(order.order)) %>');">Cancel</button> this order with a blockchain transaction.
                        </li>
                      <% } %>
                    </ul>
                  </div>
                </div>
              </td>
              <td><%= bundle.utility.weiToEth(Math.abs(order.availableVolume), bundle.Main.getDivisor(selectedToken)) %></td>
              <td><%= bundle.utility.weiToEth(Math.abs(order.availableVolume) * order.price.toNumber() * bundle.Main.getDivisor(selectedBase)/bundle.Main.getDivisor(selectedToken), bundle.Main.getDivisor(selectedBase)) %></td>
              <td>
                <button type="button" class="btn btn-danger btn-xs" style="width:35px;" data-toggle="modal" data-target="#sell_cross_modal" data-order='<%= JSON.stringify(order) %>' data-desc='Buy order: <br /><%= bundle.utility.weiToEth(Math.abs(order.availableVolume), bundle.Main.getDivisor(selectedToken)) %> <%= selectedToken.name %> @ <%= order.price.toNumber().toFixed(5) %> <%= selectedToken.name+'/'+selectedBase.name %>' data-amount='<%= bundle.utility.weiToEth(Math.abs(order.availableVolume), bundle.Main.getDivisor(selectedToken)) %>'>Sell</button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
