<div class="box-container">

  <input type="hidden" id="token_addr" value="<%= selectedToken.addr %>" />
  <input type="hidden" id="base_addr" value="<%= selectedBase.addr %>" />

  <div class="row">
    <div class="col-xs-4">
      <h3><%= translation.buy %></h3>
      <form class="form">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon" style="width: 100px;"><%= selectedToken.name %></div>
            <input type="text" class="form-control" style="width: 175px;" id="buy_amount" onchange="buy_change()" placeholder="<%= translation.amount_to_buy %> (<%= selectedToken.name %>)" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon" style="width: 100px;"><%= selectedToken.name+'/'+selectedBase.name %></div>
            <input type="text" class="form-control" style="width: 175px;" id="buy_price" onchange="buy_change()" placeholder="<%= translation.price %> (<%= selectedToken.name+'/'+selectedBase.name %>)" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon" style="width: 100px;"><%= selectedBase.name %></div>
            <input type="text" class="form-control" style="width: 175px;" id="buy_total" onchange="buy_change()" placeholder="<%= translation.total %> (<%= selectedBase.name %>)" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon" style="width: 100px;"><%= translation.expires %></div>
            <input type="text" class="form-control" style="width: 175px;" id="buy_expires" placeholder="<%= translation.number_of_blocks %>" value="2500" />
          </div>
        </div>
        <!-- <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon" style="width: 100px;"><%= translation.auto_refresh %></div>
            <input type="checkbox" class="form-control" style="width: 175px;" id="buy_refresh" />
          </div>
        </div> -->
        <button type="submit" class="btn btn-success" style="width: 275px;" id="buy_submit"><%= translation.buy %></button>
      </form>
    </div>
    <div class="col-xs-4">
      <h3><%= translation.balances %></h3>
      <table class="table">
        <thead>
          <tr>
            <th><%= translation.token %></th>
            <th><%= translation.balance %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= selectedToken.name %></td>
            <td><div id="balance_token"></div></td>
          </tr>
          <tr>
            <td><%= selectedBase.name %></td>
            <td><div id="balance_base"></div></td>
          </tr>
        </tbody>
      </table>
      <div style="height: 150px; overflow-y: scroll">
        <div class="list-group">
          <div class="list-group-item active">
            <h4 class="list-group-item-heading"><%= translation.aug032016 %></h4>
            <p class="list-group-item-text">
              <%= translation.aug032016_announcement %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <h3><%= translation.sell %></h3>
      <form class="form">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon" style="width: 100px;"><%= selectedToken.name %></div>
            <input type="text" class="form-control" style="width: 175px;" id="sell_amount" onchange="sell_change()" placeholder="<%= translation.amount_to_sell %> (<%= selectedToken.name %>)" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon" style="width: 100px;"><%= selectedToken.name+'/'+selectedBase.name %></div>
            <input type="text" class="form-control" style="width: 175px;" id="sell_price" onchange="sell_change()" placeholder="<%= translation.price %> (<%= selectedToken.name+'/'+selectedBase.name %>)" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon" style="width: 100px;"><%= selectedBase.name %></div>
            <input type="text" class="form-control" style="width: 175px;" id="sell_total" onchange="sell_change()" placeholder="<%= translation.total %> (<%= selectedBase.name %>)" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon" style="width: 100px;"><%= translation.expires %></div>
            <input type="text" class="form-control" style="width: 175px;" id="sell_expires" placeholder="<%= translation.number_of_blocks %>" value="2500" />
          </div>
        </div>
        <!-- <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon" style="width: 100px;"><%= translation.auto_refresh %></div>
            <input type="checkbox" class="form-control" style="width: 175px;" id="sell_refresh" />
          </div>
        </div> -->
        <button type="submit" class="btn btn-danger" style="width: 275px;" id="sell_submit"><%= translation.sell %></button>
      </form>
    </div>
  </div>

</div>
