<div class="box-container">
  <div class="row">
    <div class="col-xs-6">
      <h3>Offers</h3>
      <div class="scroll-container" style="height: 300px;">
        <table class="table">
          <thead>
            <tr>
              <th>Price (<%= selectedToken.name+'/'+selectedBase.name %>)</th>
              <th><%= selectedToken.name %></th>
              <th><%= selectedBase.name %></th>
              <th>Buy</th>
            </tr>
          </thead>
          <tbody>
            <% sellOrders.forEach(function(order){ %>
            <tr>
              <td><span style="<%= selectedAddr.toLowerCase()==order.order.user.toLowerCase() ? 'background: #9ff' : '' %>"><%= order.price.toNumber().toFixed(3) %></span></td>
              <td><%= bundle.utility.weiToEth(Math.abs(order.availableVolume), bundle.Main.getDivisor(selectedToken)) %></td>
              <td><%= bundle.utility.weiToEth(Math.abs(order.availableVolume) * order.price.toNumber() * bundle.Main.getDivisor(selectedBase)/bundle.Main.getDivisor(selectedToken), bundle.Main.getDivisor(selectedBase)) %></td>
              <td>
                <button type="button" class="btn btn-primary btn-xs" style="width:50px;" data-toggle="modal" data-target="#buy_cross_modal" data-order='<%= JSON.stringify(order) %>'>Buy</button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-6">
      <h3>Bids</h3>
      <div class="scroll-container" style="height: 300px;">
        <table class="table">
          <thead>
            <tr>
              <th>Price (<%= selectedToken.name+'/'+selectedBase.name %>)</th>
              <th><%= selectedToken.name %></th>
              <th><%= selectedBase.name %></th>
              <th>Sell</th>
            </tr>
          </thead>
          <tbody>
            <% buyOrders.forEach(function(order){ %>
            <tr>
              <td><span style="<%= selectedAddr.toLowerCase()==order.order.user.toLowerCase() ? 'background: #9ff' : '' %>"><%= order.price.toNumber().toFixed(3) %></span></td>
              <td><%= bundle.utility.weiToEth(Math.abs(order.availableVolume), bundle.Main.getDivisor(selectedToken)) %></td>
              <td><%= bundle.utility.weiToEth(Math.abs(order.availableVolume) * order.price.toNumber() * bundle.Main.getDivisor(selectedBase)/bundle.Main.getDivisor(selectedToken), bundle.Main.getDivisor(selectedBase)) %></td>
              <td>
                <button type="button" class="btn btn-primary btn-xs" style="width:50px;" data-toggle="modal" data-target="#sell_cross_modal" data-order='<%= JSON.stringify(order) %>'>Sell</button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="box-container">
  <h3>Trades</h3>
  <div class="scroll-container" style="height: 300px;">
    <table class="table">
      <thead>
        <tr>
          <th>Block</th>
          <th>Type</th>
          <th>Price (<%= selectedToken.name+'/'+selectedBase.name %>)</th>
          <th><%= selectedToken.name %></th>
          <th><%= selectedBase.name %></th>
          <th>Buyer</th>
          <th>Seller</th>
        </tr>
      </thead>
      <tbody>
        <% trades.forEach(function(trade){ %>
          <tr>
            <td><%= trade.blockNumber %> <a href="<%= trade.txLink %>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
            <td><%= trade.amount>0 ? 'Buy' : 'Sell' %></td>
            <td><%= trade.price.toNumber().toFixed(3) %></td>
            <td><%= bundle.utility.weiToEth(Math.abs(trade.amount), bundle.Main.getDivisor(selectedToken)) %></td>
            <td><%= bundle.utility.weiToEth(Math.abs(trade.amount)*trade.price * bundle.Main.getDivisor(selectedBase)/bundle.Main.getDivisor(selectedToken), bundle.Main.getDivisor(selectedBase)) %></td>
            <td><%= trade.buyer.substring(0,12) %>...</td>
            <td><%= trade.seller.substring(0,12) %>...</td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
