<div class="box-container">
  <h3>My transactions</h3>
  <div class="scroll-container" style="height: 200px;">
    <table class="table">
      <thead>
        <tr>
          <th>Block</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Price (<%= selectedToken.name+'/'+selectedBase.name %>)</th>
        </tr>
      </thead>
      <tbody>
        <% pendingTransactions.forEach(function(pendingTransaction){ %>
          <tr>
            <td>??? <a href="<%= pendingTransaction.txLink %>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
            <td><span class="label label-warning">Pending</span></td>
            <td></td>
            <td></td>
          </tr>
        <% }) %>
        <% myEvents.forEach(function(event){ %>
          <% if (event.trade) { %>
            <% trade = event.trade %>
            <tr>
              <td><%= event.blockNumber %> <a href="<%= event.txLink %>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
              <td><span class="label <%= selectedAddr.toLowerCase()==trade.buyer.toLowerCase() ? 'label-success' : 'label-danger' %>"><%= selectedAddr.toLowerCase()==trade.buyer.toLowerCase() ? 'Buy' : 'Sell' %></span></td>
              <td><%= bundle.utility.weiToEth(Math.abs(trade.amount), bundle.Main.getDivisor(selectedToken)) %> <%= selectedToken.name %> (<%= bundle.utility.weiToEth(Math.abs(trade.amount)*trade.price * bundle.Main.getDivisor(selectedBase)/bundle.Main.getDivisor(selectedToken), bundle.Main.getDivisor(selectedBase)) %> <%= selectedBase.name %>)</td>
              <td><%= trade.price.toNumber().toFixed(5) %></td>
            </tr>
          <% } else if (event.deposit) { %>
            <% deposit = event.deposit %>
            <tr>
              <td><%= event.blockNumber %> <a href="<%= event.txLink %>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
              <td><span class="label label-info">Deposit</span></td>
              <td><%= bundle.utility.weiToEth(deposit.amount, bundle.Main.getDivisor(deposit.token)) %> <%= deposit.token.name %></td>
              <td></td>
            </tr>
          <% } else if (event.withdraw) { %>
            <% withdraw = event.withdraw %>
            <tr>
              <td><%= event.blockNumber %> <a href="<%= event.txLink %>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
              <td><span class="label label-info">Withdraw</span></td>
              <td><%= bundle.utility.weiToEth(withdraw.amount, bundle.Main.getDivisor(withdraw.token)) %> <%= withdraw.token.name %></td>
              <td></td>
            </tr>
          <% } %>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
