<h3><%= translation.balances %></h3>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#deposit" aria-controls="deposit" role="tab" data-toggle="tab"><%= translation.deposit %></a></li>
  <li role="presentation"><a href="#withdraw" aria-controls="withdraw" role="tab" data-toggle="tab"><%= translation.withdraw %></a></li>
  <li role="presentation"><a href="#transfer" aria-controls="transfer" role="tab" data-toggle="tab"><%= translation.transfer %></a></li>
</ul>

<div class="scroll-container" style="height: 400px;">

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="deposit">
      <table class="table">
        <thead>
          <tr>
            <th><%= translation.token %></th>
            <th><%= translation.balance_in_your_wallet %></th>
            <th><%= translation.balance_etherdelta %></th>
            <th><%= translation.deposit %></th>
          </tr>
        </thead>
        <tbody>
          <% balances.forEach(function(balance){ %>
            <tr>
              <td><a href="<%= balance.tokenLink %>" target="_blank"><%= balance.token.name %></a></td>
              <td><%= bundle.utility.weiToEth(balance.balanceOutside, bundle.Main.getDivisor(balance.token)) %></td>
              <td><%= bundle.utility.weiToEth(balance.balance, bundle.Main.getDivisor(balance.token)) %></td>
              <td>
                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" class="form-control"  style="width:195px;" id="deposit_amount_<%= balance.token.addr %>" placeholder="<%= translation.amount %>" />
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary" id="deposit_submit_<%= balance.token.addr %>" onclick="deposit_click('<%= balance.token.addr %>')" style="width:80px;"><%= translation.deposit %></button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="withdraw">
      <table class="table">
        <thead>
          <tr>
            <th><%= translation.token %></th>
            <th><%= translation.balance_in_your_wallet %></th>
            <th><%= translation.balance_etherdelta %></th>
            <th><%= translation.withdraw %></th>
          </tr>
        </thead>
        <tbody>
          <% balances.forEach(function(balance){ %>
            <tr>
              <td><a href="<%= balance.tokenLink %>" target="_blank"><%= balance.token.name %></a></td>
              <td><%= bundle.utility.weiToEth(balance.balanceOutside, bundle.Main.getDivisor(balance.token)) %></td>
              <td><%= bundle.utility.weiToEth(balance.balance, bundle.Main.getDivisor(balance.token)) %></td>
              <td>
                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" class="form-control"  style="width:195px;" id="withdraw_amount_<%= balance.token.addr %>" placeholder="<%= translation.amount %>" />
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary" id="withdraw_submit_<%= balance.token.addr %>" onclick="withdraw_click('<%= balance.token.addr %>')" style="width:80px;"><%= translation.withdraw %></button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="transfer">
      <table class="table">
        <thead>
          <tr>
            <th><%= translation.token %></th>
            <th><%= translation.balance_in_your_wallet %></th>
            <th><%= translation.balance_etherdelta %></th>
            <th><%= translation.transfer %></th>
          </tr>
        </thead>
        <tbody>
          <% balances.forEach(function(balance){ %>
            <tr>
              <td><a href="<%= balance.tokenLink %>" target="_blank"><%= balance.token.name %></a></td>
              <td><%= bundle.utility.weiToEth(balance.balanceOutside, bundle.Main.getDivisor(balance.token)) %></td>
              <td><%= bundle.utility.weiToEth(balance.balance, bundle.Main.getDivisor(balance.token)) %></td>
              <td>
                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" class="form-control"  style="width:95px;" id="transfer_amount_<%= balance.token.addr %>" placeholder="<%= translation.amount %>" />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" class="form-control"  style="width:100px;" id="transfer_to_<%= balance.token.addr %>" placeholder="0x..." value="<%= addr %>" />
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary" id="transfer_submit_<%= balance.token.addr %>" onclick="transfer_click('<%= balance.token.addr %>')" style="width:80px;"><%= translation.transfer %></button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>

</div>
