<p><%= translation.connection %>: <%= connection.connection %> (<%= connection.provider %>) <%= connection.testnet ? translation.testnet : ''%></p>
<p><%= translation.connect_using %> <a class="btn btn-default" href="https://metamask.io" target="_blank"><img src="/images/metamask.png" style="height: 25px;" /> <%= translation.metamask %></a> <%= translation.or %> <a class="btn btn-default" href="https://github.com/ethereum/mist" target="_blank"><img src="/images/mist.png" style="height: 25px;" /> <%= translation.mist_browser %></a></p>

<div class="btn-group dropup">
  <a class="btn btn-default" href="<%= contractLink%>" target="_blank"><i class="fa fa-file-text"></i> <%= contractAddr %></a>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only"><%= translation.toggle_dropdown %></span>
  </button>
  <ul class="dropdown-menu pull-right">
    <% contracts.forEach(function(contract){ %>
      <li><a href="javascript:;" onclick="bundle.Main.contractAddr('<%= contract.addr %>');"><%= contract.addr %> (<%= contract.info %>)</a></li>
    <%}) %>
  </ul>
</div>
