<div class="row-box height2 scroll">
  <table class="table table-condensed table-borderless">
    <tr class="table-header">
      <th class="trn">transaction</th>
      <th class="trn">type</th>
      <th><%= selectedToken.name %></th>
      <th><%= selectedBase.name %></th>
    </tr>
    <% pendingTransactions.forEach(function(pendingTransaction){ %>
      <tr>
        <td><span class="trn">question_mark</span><a href="<%= pendingTransaction.txLink %>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
        <td><span class="trn">pending</span></td>
        <td></td>
        <td></td>
      </tr>
    <% }) %>
    <% funds.forEach(function(fund){ %>
      <tr>
        <td><%= fund.blockNumber %><a href="<%= fund.txLink %>" target="_blank"><%= fund.txHash.slice(0, 10) %></a></td>
        <td><span class="trn"><%= fund.kind === 'Deposit' ? 'deposit' : 'withdraw' %></span></td>
        <td><% if (fund.tokenAddr.toLowerCase()==selectedToken.addr.toLowerCase()) {%>
          <span data-toggle="tooltip" data-placement="top" title="<%= fund.amount.toFixed(9) %>"><%= fund.amount.toFixed(3) %></span>
        <% } %></td>
        <td><% if (fund.tokenAddr.toLowerCase()==selectedBase.addr.toLowerCase()) {%>
          <span data-toggle="tooltip" data-placement="top" title="<%= fund.amount.toFixed(9) %>"><%= fund.amount.toFixed(3) %></span>
        <% } %></td>
      </tr>
    <% }); %>
    <tr>
      <td colspan="5" class="trn">only_7_days</td>
    </tr>
  </table>
</div>
