<div class="row-box height2 scroll">
  <table class="table table-condensed table-borderless">
    <tr class="table-header">
      <th class="trn"><%= selectedToken.name %>/<%= selectedBase.name %></th>
      <th class="trn">available_volume</th>
      <th class="trn">expires_in</th>
      <th class="trn">cancel</th>
    </tr>
    <% sellOrders.forEach(function(order){ %>
    <tr>
      <td class="trn"><span class="sell"><%= order.price.toFixed(9) %></span></td>
      <td class="trn">
        <span data-toggle="tooltip" data-placement="top" title="<%= main.utility.weiToEth(Math.abs(order.availableVolume), main.EtherDelta.getDivisor(selectedToken), 9) %>"><%= main.utility.weiToEth(Math.abs(order.availableVolume), main.EtherDelta.getDivisor(selectedToken), 3) %></span>
        /
        <span data-toggle="tooltip" data-placement="top" title="<%= main.utility.weiToEth(Math.abs(order.amount), main.EtherDelta.getDivisor(selectedToken), 9) %>"><%= main.utility.weiToEth(Math.abs(order.amount), main.EtherDelta.getDivisor(selectedToken), 3) %></span>
      </td>
      <td><% if (order.expires > blockNumber){ %><%= (order.expires - blockNumber) %> <%= order.expires - blockNumber==1 ? translator.get('block') : translator.get('blocks') %><% } else { %><span class="trn">expired</span><% } %></td>
      <td><button type="button" class="btn btn-primary btn-xs" style="width:50px;" onclick="main.EtherDelta.cancelOrder('<%= encodeURIComponent(JSON.stringify(order)) %>');"><span class="trn">cancel</span></button></td>
    </tr>
    <% }); %>
    <% buyOrders.forEach(function(order){ %>
    <tr>
      <td class="trn"><span class="buy"><%= order.price.toFixed(9) %></span></td>
      <td class="trn">
        <span data-toggle="tooltip" data-placement="top" title="<%= main.utility.weiToEth(Math.abs(order.availableVolume), main.EtherDelta.getDivisor(selectedToken), 9) %>"><%= main.utility.weiToEth(Math.abs(order.availableVolume), main.EtherDelta.getDivisor(selectedToken), 3) %></span>
        /
        <span data-toggle="tooltip" data-placement="top" title="<%= main.utility.weiToEth(Math.abs(order.amount), main.EtherDelta.getDivisor(selectedToken), 9) %>"><%= main.utility.weiToEth(Math.abs(order.amount), main.EtherDelta.getDivisor(selectedToken), 3) %></span>
      </td>
      <td><% if (order.expires > blockNumber){ %><%= (order.expires - blockNumber) %> <%= order.expires - blockNumber==1 ? translator.get('block') : translator.get('blocks') %><% } else { %><span class="trn">expired</span><% } %></td>
      <td><button type="button" class="btn btn-primary btn-xs" style="width:50px;" onclick="main.EtherDelta.cancelOrder('<%= encodeURIComponent(JSON.stringify(order)) %>');"><span class="trn">cancel</span></button></td>
    </tr>
    <% }); %>
    <% if (buyOrders.length==0 && sellOrders.length==0) { %>
      <tr>
        <td colspan="4"><span class="trn">no_orders</span></td>
      </tr>
    <% } %>
  </table>
</div>
