<div class="row-box height3 scroll" id="orderBookScroll">
  <table class="table table-condensed table-borderless">
    <% sellOrders.forEach(function(order){ %>
      <% if (order.expires > blockNumber) { %>
        <tr class="clickable-row" data-toggle="modal" data-target="#buyCrossModal" data-order='<%= JSON.stringify(order) %>' data-desc='<% if (order.expires > blockNumber){ %><%= translator.get("expires_in")%> <%= (order.expires - blockNumber) %> <%= order.expires - blockNumber==1 ? translator.get("block") : translator.get("blocks") %><% } else { %><%= translator.get("expired") %><% } %><br /><%= translator.get("order")%>: <%= main.utility.weiToEth(Math.abs(order.availableVolume), main.EtherDelta.getDivisor(selectedToken), 3) %> <%= selectedToken.name %> @ <%= order.price.toNumber().toFixed(9) %> <%= selectedToken.name+'/'+selectedBase.name %>' data-token='<%= selectedToken.name %>' data-price='<%= order.price.toNumber() %>' data-base='<%= selectedBase.name %>' data-amount='<%= main.utility.weiToEth(Math.abs(order.availableVolume), main.EtherDelta.getDivisor(selectedToken), 3) %>'>
          <td class="three-columns overflow-hidden padding-left"><span class="sell" style="<%= selectedAddr.toLowerCase()==order.user.toLowerCase() ? 'background: #9ff; color: #000;' : '' %>" data-toggle="tooltip" data-placement="top" title="Click here to BUY <%= main.utility.weiToEth(Math.abs(order.availableVolume), main.EtherDelta.getDivisor(selectedToken), 9) %> <%= selectedToken.name %>"><%= order.price.toNumber().toFixed(9) %></span></td>
          <td class="three-columns overflow-hidden">
            <span data-toggle="tooltip" data-placement="top" title="Click here to BUY <%= main.utility.weiToEth(Math.abs(order.availableVolume), main.EtherDelta.getDivisor(selectedToken), 9) %> <%= selectedToken.name %>">
              <%= main.utility.weiToEth(Math.abs(order.availableVolume), main.EtherDelta.getDivisor(selectedToken), 3) %>
            </span>
          </td>
          <td class="three-columns overflow-hidden">
            <span data-toggle="tooltip" data-placement="top" title="Click here to BUY <%= main.utility.weiToEth(Math.abs(order.availableVolume), main.EtherDelta.getDivisor(selectedToken), 9) %> <%= selectedToken.name %>">
              <%= main.utility.weiToEth(Math.abs(order.availableVolumeBase), main.EtherDelta.getDivisor(selectedBase), 3) %>
            </span>
          </td>
        </tr>
      <% } %>
    <% }); %>
    <tr id="orderBookMid" class="mid-header">
      <th class="three-columns overflow-hidden padding-left"><span class="trn" data-toggle="tooltip" data-placement="top" title="price_explanation"><%= selectedToken.name %>/<%= selectedBase.name %></span></th>
      <th class="three-columns overflow-hidden"><%= selectedToken.name %></th>
      <th class="three-columns overflow-hidden"><%= selectedBase.name %></th>
    </tr>
    <% buyOrders.forEach(function(order){ %>
      <% if (order.expires > blockNumber) { %>
        <tr class="clickable-row" data-toggle="modal" data-target="#sellCrossModal" data-order='<%= JSON.stringify(order) %>' data-desc='<% if (order.expires > blockNumber){ %><%= translator.get("expires_in")%> <%= (order.expires - blockNumber) %> <%= order.expires - blockNumber==1 ? translator.get("block") : translator.get("blocks") %><% } else { %><%= translator.get("expired") %><% } %><br /><%= translator.get("order")%>: <%= main.utility.weiToEth(Math.abs(order.availableVolume), main.EtherDelta.getDivisor(selectedToken)) %> <%= selectedToken.name %> @ <%= order.price.toNumber().toFixed(9) %> <%= selectedToken.name+'/'+selectedBase.name %>' data-token='<%= selectedToken.name %>' data-price='<%= order.price.toNumber() %>' data-base='<%= selectedBase.name %>' data-amount='<%= main.utility.weiToEth(Math.abs(order.availableVolume), main.EtherDelta.getDivisor(selectedToken), 3) %>'>
          <td class="three-columns overflow-hidden padding-left"><span class="buy" style="<%= selectedAddr.toLowerCase()==order.user.toLowerCase() ? 'background: #9ff; color: #000;' : '' %>" data-toggle="tooltip" data-placement="top" title="Click here to SELL <%= main.utility.weiToEth(Math.abs(order.availableVolume), main.EtherDelta.getDivisor(selectedToken), 9) %> <%= selectedToken.name %>"><%= order.price.toNumber().toFixed(9) %></span></td>
          <td class="three-columns overflow-hidden">
            <span data-toggle="tooltip" data-placement="top" title="Click here to SELL <%= main.utility.weiToEth(Math.abs(order.availableVolume), main.EtherDelta.getDivisor(selectedToken), 9) %> <%= selectedToken.name %>">
              <%= main.utility.weiToEth(Math.abs(order.availableVolume), main.EtherDelta.getDivisor(selectedToken), 3) %>
            </span>
          </td>
          <td class="three-columns overflow-hidden">
            <span data-toggle="tooltip" data-placement="top" title="Click here to SELL <%= main.utility.weiToEth(Math.abs(order.availableVolume), main.EtherDelta.getDivisor(selectedToken), 9) %> <%= selectedToken.name %>">
              <%= main.utility.weiToEth(Math.abs(order.availableVolumeBase), main.EtherDelta.getDivisor(selectedBase), 3) %>
            </span>
          </td>
        </tr>
      <% } %>
    <% }); %>
    <% if (buyOrders.length==0 && sellOrders.length==0) { %>
      <tr>
        <td colspan="3"><span class="trn">no_orders</span></td>
      </tr>
    <% } %>
  </table>
</div>
