<div class="row-box height3 scroll" id="orderBookScroll">
  <table class="table table-condensed table-borderless">
    <% sellOrders.forEach(function(order){ %>
    <tr class="clickable-row" data-toggle="modal" data-target="#buyCrossModal" data-order='<%= JSON.stringify(order) %>' data-desc='<% if (Number(order.order.expires) > blockNumber){ %><%= translator.get("expires_in")%> <%= (Number(order.order.expires) - blockNumber) %> <%= Number(order.order.expires) - blockNumber==1 ? translator.get("block") : translator.get("blocks") %><% } else { %><%= translator.get("expired") %><% } %><br /><%= translator.get("sell_order")%>: <%= bundle.utility.weiToEth(Math.abs(order.availableVolume), bundle.EtherDelta.getDivisor(selectedToken)) %> <%= selectedToken.name %> @ <%= order.price.toNumber().toFixed(5) %> <%= selectedToken.name+'/'+selectedBase.name %>' data-token='<%= selectedToken.name %>' data-price='<%= order.price.toNumber() %>' data-base='<%= selectedBase.name %>' data-amount='<%= bundle.utility.weiToEth(Math.abs(order.availableVolume), bundle.EtherDelta.getDivisor(selectedToken)) %>'>
      <td><span class="sell" style="<%= selectedAddr.toLowerCase()==order.order.user.toLowerCase() ? 'background: #9ff; color: #000;' : '' %>"><%= order.price.toNumber().toFixed(5) %></span></td>
      <td class="align-right"><%= bundle.utility.weiToEth(Math.abs(order.availableVolume), bundle.EtherDelta.getDivisor(selectedToken)) %></td>
      <td class="align-right padding-right"><%= bundle.utility.weiToEth(Math.abs(order.availableVolumeBase), bundle.EtherDelta.getDivisor(selectedBase)) %></td>
    </tr>
    <% }); %>
    <tr id="orderBookMid" class="mid-header">
      <th><%= selectedToken.name %>/<%= selectedBase.name %></th>
      <th class="align-right"><%= selectedToken.name %></th>
      <th class="align-right padding-right"><%= selectedBase.name %></th>
    </tr>
    <% buyOrders.forEach(function(order){ %>
    <tr class="clickable-row" data-toggle="modal" data-target="#sellCrossModal" data-order='<%= JSON.stringify(order) %>' data-desc='<% if (Number(order.order.expires) > blockNumber){ %><%= translator.get("expires_in")%> <%= (Number(order.order.expires) - blockNumber) %> <%= Number(order.order.expires) - blockNumber==1 ? translator.get("block") : translator.get("blocks") %><% } else { %><%= translator.get("expired") %><% } %><br /><%= translator.get("buy_order")%>: <%= bundle.utility.weiToEth(Math.abs(order.availableVolume), bundle.EtherDelta.getDivisor(selectedToken)) %> <%= selectedToken.name %> @ <%= order.price.toNumber().toFixed(5) %> <%= selectedToken.name+'/'+selectedBase.name %>' data-token='<%= selectedToken.name %>' data-price='<%= order.price.toNumber() %>' data-base='<%= selectedBase.name %>' data-amount='<%= bundle.utility.weiToEth(Math.abs(order.availableVolume), bundle.EtherDelta.getDivisor(selectedToken)) %>'>
      <td><span class="buy" style="<%= selectedAddr.toLowerCase()==order.order.user.toLowerCase() ? 'background: #9ff; color: #000;' : '' %>"><%= order.price.toNumber().toFixed(5) %></span></td>
      <td class="align-right"><%= bundle.utility.weiToEth(Math.abs(order.availableVolume), bundle.EtherDelta.getDivisor(selectedToken)) %></td>
      <td class="align-right padding-right"><%= bundle.utility.weiToEth(Math.abs(order.availableVolumeBase), bundle.EtherDelta.getDivisor(selectedBase)) %></td>
    </tr>
    <% }); %>
    <% if (buyOrders.length==0 && sellOrders.length==0) { %>
      <tr>
        <td colspan="3" style="padding-right: 12px;"><span class="trn">no_orders</span></td>
      </tr>
    <% } %>
  </table>
</div>
