<div class="row-box height1 scroll">
  <table class="table table-condensed table-borderless">
    <tr class="table-header">
      <th><%= selectedToken.name %>/<%= selectedBase.name %></th>
      <th><%= selectedToken.name %></th>
      <th><%= selectedBase.name %></th>
    </tr>
    <% trades.forEach(function(trade){ %>
      <tr>
        <td><span class="<%= trade.side %>"><%= trade.price.toFixed(9) %><i class="fa fa-arrow-<%= trade.side === 'buy' ? 'up' : 'down' %>" aria-hidden="true"></i></span></td>
        <td><span data-toggle="tooltip" data-placement="top" title="<%= trade.amount.toFixed(9) %>"><%= trade.amount.toFixed(3) %></span></td>
        <td><span data-toggle="tooltip" data-placement="top" title="<%= trade.amountBase.toFixed(9) %>"><%= trade.amountBase.toFixed(3) %></span><a href="<%= trade.txLink %>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
      </tr>
    <% }); %>
    <tr>
      <td colspan="3" class="trn">only_7_days</td>
    </tr>
  </table>
</div>
</div>
