<div class="row-box height5 scroll">
  <table class="table table-condensed table-borderless">
    <tr class="table-header">
      <th class="trn">pair</th>
      <th class="trn">daily</th>
      <th><span class="trn">bid</span></th>
      <th><span class="trn">offer</span></th>
    </tr>
    <% pairVolumes.forEach(function(pairVolume){ %>
      <tr>
        <td><a href="javascript:;" onclick="bundle.EtherDelta.selectTokenAndBase('<%= pairVolume.token.addr %>','<%= pairVolume.base.addr %>');"><%= pairVolume.token.name+'/'+pairVolume.base.name %></a></td>
        <td><%= Math.round(pairVolume.volume) %></td>
        <td><%= pairVolume.bid ? pairVolume.bid.toNumber().toFixed(9) : '' %></td>
        <td><%= pairVolume.ask ? pairVolume.ask.toNumber().toFixed(9) : '' %></td>
      </tr>
    <% }) %>
    <tr class="mid-header">
      <th class="trn">token</th>
      <th class="trn">daily</th>
      <th></th>
      <th></th>
    </tr>
    <% tokenVolumes.forEach(function(tokenVolume){ %>
      <tr>
        <td><a href="javascript:;" onclick="bundle.EtherDelta.displayTokenGuide('<%= tokenVolume.token.name %>')"><%= tokenVolume.token.name %></a></td>
        <td><%= Math.round(tokenVolume.volume) %></td>
        <td></td>
        <td></td>
      </tr>
    <% }) %>
  </table>
</div>
