<div class="row-box height5 scroll">
  <table class="table table-condensed table-borderless">
    <tr class="table-header">
      <th class="trn four">pair</th>
      <th class="trn four">daily</th>
      <th class="four"><span class="trn">bid</span></th>
      <th class="four"><span class="trn">offer</span></th>
    </tr>
    <% pairVolumes.forEach(function(pairVolume){ %>
      <tr>
        <td class="four"><a href="javascript:;" onclick="main.EtherDelta.selectTokenAndBase('<%= pairVolume.token.addr %>','<%= pairVolume.base.addr %>');"><%= pairVolume.token.name+'/'+pairVolume.base.name %></a></td>
        <td class="four"><%= Math.round(pairVolume.quoteVolume) %></td>
        <td class="four"><%= pairVolume.bid ? pairVolume.bid.toFixed(9) : '' %></td>
        <td class="four"><%= pairVolume.ask ? pairVolume.ask.toFixed(9) : '' %></td>
      </tr>
    <% }) %>
  </table>
</div>
