<% if (addr && addr.slice(0,39)!='0x0000000000000000000000000000000000000') { %>
  <%
  balanceToken = balances.filter(function(x){return x.token.addr==selectedToken.addr})[0]
  balanceBase = balances.filter(function(x){return x.token.addr==selectedBase.addr})[0]
  %>
  <table class="table table-borderless">
    <tr>
      <td><a href="javascript:;" onclick="bundle.EtherDelta.displayTokenGuide('<%= selectedToken.name %>')"><%= selectedToken.name %></a></td><td><%= bundle.utility.weiToEth(balanceToken.balanceOutside, bundle.EtherDelta.getDivisor(balanceToken.token)) %></td><td><%= bundle.utility.weiToEth(balanceToken.balance, bundle.EtherDelta.getDivisor(balanceToken.token)) %></td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="text" class="form-control input-xs trn" id="withdrawAmount<%= selectedToken.addr %>" placeholder="amount" />
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-xs trn" style="width: 100%;" id="withdrawSubmit<%= selectedToken.addr %>" onclick="withdrawClick('<%= selectedToken.addr %>')">withdraw</button>
      </td>
    </tr>
    <tr>
      <td><a href="javascript:;" onclick="bundle.EtherDelta.displayTokenGuide('<%= selectedBase.name %>')"><%= selectedBase.name %></a></td><td><%= bundle.utility.weiToEth(balanceBase.balanceOutside, bundle.EtherDelta.getDivisor(balanceBase.token)) %></td><td><%= bundle.utility.weiToEth(balanceBase.balance, bundle.EtherDelta.getDivisor(balanceBase.token)) %></td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="text" class="form-control input-xs trn" id="withdrawAmount<%= selectedBase.addr %>" placeholder="amount" />
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-xs trn" style="width: 100%;" id="withdrawSubmit<%= selectedBase.addr %>" onclick="withdrawClick('<%= selectedBase.addr %>')">withdraw</button>
      </td>
    </tr>
  </table>
<% } else { %>
  <table class="table table-borderless">
    <tr><td><span class="trn">please_select_account</span></td></tr>
  </table>
<% } %>
